@font-face {
  font-family: "iconfont"; /* Project id 3893650 */
  src: url('../fonts/iconfont.woff2?t=1676380510186') format('woff2'),
       url('../fonts/iconfont.woff?t=1676380510186') format('woff'),
       url('../fonts/iconfont.ttf?t=1676380510186') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 2em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobao:before {
  content: "\e892";
}

.icon-weibo:before {
  content: "\e893";
}
a.iconfont:link {color:#d81e06;}
a.iconfont:hover {color:#d81e06;}